@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fa0;
}

/* Hide scrollbar for Chrome,Safary and Opera */
body::-webkit-scrollbar {
  display: none;
}

.hero-bg-image {
  background-image: url("https://xn--b1aqjenlka.xn--p1ai/img/recepty/2356/big.jpg?w=1155&h=1528");
}
/* ?w=1155&h=1528 */
